fastapi
uvicorn[standard]
langchain
langchain-community
langchain-huggingface
langchain-openai
langgraph
langchain-text-splitters
akshare
pandas
python-dotenv
openai
yfinance
streamlit
plotly
requests
sentence-transformers
faiss-cpu